body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e6dbdb;
}

.Menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 100%;
    margin: auto;
}

.Menu nav ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
}

.Menu ul li{
    display: inline-block;
    text-align: center;
}

.Menu ul li a:hover{
    background: orangered;
}

main{
    text-align: center;
}

.Image img{
    width: 800px;
    height: 450px;
    border-radius:10px;
}

footer{
    margin-top: 10px;
}

.Final{
    padding: 0;
    background: #092327;
    width: 100%;
}

.Final h3{
    color: white;
    padding: 20px;
    padding-left: 50px;
    text-decoration: none;
}